.search-box {
    border: none;
    background: none;
    border: 1px solid rgb(129, 198, 255);
    margin: 3em;
    padding: 1em;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.search-box:focus {
    transition: all 0.2s ease;
    outline: none;
    background: rgb(129, 198, 255);
    transform: scale(1.1)
}